<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoyo.gamecenter.dao.UserDao">

    <resultMap id="UserBaseMap" type="com.yoyo.gamecenter.model.User">
        <id column="uId" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="SMALLINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="is_enable" property="isEnable" jdbcType="SMALLINT"/>
        <result column="is_delete" property="isDelete" jdbcType="SMALLINT"/>
        <result column="user_DaySend" property="daySend" jdbcType="INTEGER"/>
        <result column="user_TotalSend" property="totalSend" jdbcType="INTEGER"/>
        <result column="user_outDate" property="userOutDate" jdbcType="BIGINT"/>
        <result column="user_secretKey" property="userSecretKey" jdbcType="VARCHAR"/>
        <result column="user_TotalSize" property="totalSize" jdbcType="INTEGER"/>
        <result column="user_UploadSize" property="uploadSize" jdbcType="INTEGER"/>
        <result column="logoPath" property="logoPath" jdbcType="VARCHAR"/>

    </resultMap>
    <resultMap id="UserMoreMap" type="com.yoyo.gamecenter.model.User" extends="UserBaseMap">
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="terminals" ofType="com.yoyo.gamecenter.model.Terminal" column="uId">
            <id column="tId" property="tId"/>
            <result column="terminalNo" property="terminalNo"/>
            <result column="terminalName" property="terminalName"/>
            <result column="publishState" property="publishState"/>
            <result column="isUpdate" property="isUpdate"/>
            <result column="createDate" property="createDate"/>
            <result column="activation" property="activation"/>
            <result column="activationDate" property="activationDate"/>
            <result column="endDate" property="endDate"/>
            <result column="agentId" property="agentId"/>
            <result column="t_isDelete" property="isDelete"/>
            <result column="isOverdue" property="isOverdue"/>
            <result column="version" property="version"/>
        </collection>

        <collection property="resources" ofType="com.yoyo.gamecenter.model.Resource" column="uId">
            <id column="rId" property="rId"/>
            <result column="fileName" property="fileName"/>
            <result column="fileSize" property="fileSize"/>
            <result column="path" property="path"/>
            <result column="thumbPath" property="thumbPath"/>
            <result column="createTime" property="createTime"/>
            <result column="r_isDelete" property="isDelete"/>
            <result column="souceType" property="souceType"/>
            <result column="fId" property="fId"/>
        </collection>

        <collection property="advFolders" ofType="com.yoyo.gamecenter.model.AdvFolder" column="uId">
            <id column="fId" property="fId"/>
            <result column="pId" property="pId"/>
            <result column="name" property="name"/>
            <result column="createDate" property="createDate"/>
            <result column="updateDate" property="updateDate"/>
            <result column="f_isDelete" property="isDelete"/>
        </collection>

    </resultMap>

    <select id="selectUserById" parameterType="java.lang.Long" resultMap="UserMoreMap">
        SELECT u.*,t.*,r.* FROM t_user u LEFT JOIN t_terminal t ON t.uId = u.uId LEFT JOIN t_resource r on r.uId = t.uId
        WHERE  u.uId = #{userId}
    </select>

    <select id="selectUserByName" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT u.*FROM t_user u
        WHERE u.user_name = #{userName}
    </select>

    <select id="selectUserByPhoneOrEmail" resultMap="UserBaseMap">
        SELECT u.*FROM t_user u
        WHERE u.user_email = #{emailOrPhone} OR u.user_phone = #{emailOrPhone}
    </select>



    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT u.* FROM t_user u
    </select>

    <insert id="addUser" parameterType="com.yoyo.gamecenter.model.User">
        INSERT INTO t_user
        (
        user_name,user_phone,user_email,user_pwd,user_role,create_time,modify_time,
        is_enable,is_delete,user_DaySend,user_TotalSend,user_outDate,user_secretKey,
        user_TotalSize,user_UploadSize,logoPath
        )
        VALUES
        (
          #{userName,jdbcType=VARCHAR},#{userPhone,jdbcType=VARCHAR},#{userEmail,jdbcType=VARCHAR},#{userPwd,jdbcType=VARCHAR},
          #{userRole,jdbcType=SMALLINT},#{createTime,jdbcType=TIMESTAMP},#{modifyTime,jdbcType=TIMESTAMP},#{isEnable,jdbcType=SMALLINT},
          #{isDelete,jdbcType=SMALLINT},#{daySend,jdbcType=INTEGER},#{totalSend,jdbcType=INTEGER}, #{userOutDate,jdbcType=BIGINT},#{userSecretKey,jdbcType=VARCHAR},
          #{totalSize,jdbcType=INTEGER},#{uploadSize,jdbcType=INTEGER},#{logoPath,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateUser" parameterType="com.yoyo.gamecenter.model.User">
        UPDATE t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                user_role = #{userRole,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=SMALLINT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="daySend != null">
                user_DaySend = #{daySend,jdbcType=INTEGER},
            </if>
            <if test="totalSend != null">
                user_TotalSend = #{totalSend,jdbcType=INTEGER},
            </if>
            <if test="userOutDate != null">
                user_outDate = #{userOutDate,jdbcType=BIGINT},
            </if>
            <if test="userSecretKey != null">
                user_secretKey = #{userSecretKey,jdbcType=VARCHAR}
            </if>
            <if test="totalSize != null">
                user_TotalSize = #{totalSize,jdbcType=INTEGER},
            </if>
            <if test="uploadSize != null">
                user_UploadSize = #{uploadSize,jdbcType=INTEGER},
            </if>
            <if test="logoPath != null">
                logoPath = #{logoPath,jdbcType=VARCHAR}
            </if>
        </set>
        where uId=#{id,jdbcType=BIGINT}
    </update>

</mapper>